<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>jumbotron</title>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


</head>
<style>
    .jumbotron{
        margin-left: 130px;
        margin-right: 130px;
        margin-top: 20px;
        background-color: cyan;
    }
   a {
        border: 2px;
       margin-left: 50px;
       margin-right: 50px;
       border-radius: 20px;
        text-decoration: blue;
       padding: 10px 20px;
        text-justify: auto;
       font-size: 30px;
       font-family: Magneto;

    ;
    }
</style>
<body>
<div class="jumbotron" >
    <div class="image" style="width:50%;float: left;"> <img src="vanrossum.jpg" width="100%"></div>
   <center><a  class="text-white" href="/create/">create</a></center>
   <center><a class="text-white" href="retrieve">retrieve</a></center>
    <center><a class="text-white" href="update">update</a></center>
    <center><a class="text-white" href="delete">Delete</a></center>

</div>



</body>
</html>